.login-bk{
    background-image: url('../images/login.jpg');
    background-size: cover; 
}

.login-tr{
    background-color: rgba(89, 85, 85, 0.8); 
    border-radius: 8px;
    padding: 20px; 
}

.signInBTN {
    background-color: rgba(62, 59, 59, 0.8); 
    color: white; 
    padding: 7px 20px; 
    margin: 8px 0;
    border: 2px solid rgba(80, 75, 75, 0.8); 
    cursor: pointer; 
    border-radius: 4px; 
    display: block; 
    margin: auto;
}

.signInBTN:hover {
    background-color: rgb(71, 68, 68);
}


.field {
    background-color: rgba(89, 85, 85, 0.8); 
    border: 2px solid rgba(255, 255, 255, 0.8); 
    color: #333333; 
    padding: 10px; 
    margin-bottom: 10px; 
    width: 100%; 
    border-radius: 4px; 
    transition: border-color 0.3s ease; 
}

.field:focus {
    outline: none; 
    border-color: #000000; 
}
